EXPO_PUBLIC_SUPABASE_URL=https://kzfipcwvpjgasgaennbq.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt6ZmlwY3d2cGpnYXNnYWVubmJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEyOTgwMTUsImV4cCI6MjA5Njg3NDAxNX0.LWKQ6jOJDb_2WMb07JmT_R27L5LJzQmKsrVGRZHCAnk
